@import '@fontsource-variable/dm-sans';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

body {
  font-family: 'DM Sans Variable', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}